@import "../../assets/styles/variables.style.scss";

.projects-section {
  .container {
    max-width: 100%;
  }
  .row {
    .col-xl-5 {
      display: flex;
      justify-content: center;
      align-items: center;
      .project-lc {
        position: relative;
        img {
          width: 100%;
        }
        .project-text {
          position: absolute;
          top: 35%;
          left: 23%;
          color: $blood-color;
          text-align: center;
          h3 {
            font-size: 1em;
          }
          p {
            font-size: 0.7em;
          }
          .btn {
            margin-top: 5em;
            font-size: 0.7em;
          }
        }
      }
    }
    .col-xl-7 {
      padding-top: 5em;
      .carousel {
        .thumbs-wrapper {
          display: none;
        }
      }
      .project-rc {
        height: 100%;
        li.selected .card {
          transform: none;
          box-shadow: none;
        }
        .control-arrow {
          opacity: 1;
          filter: drop-shadow(0 0 2px red);
        }
        .card {
          background-color: red;
          height: 50vh;
          margin: 5px;
          cursor: grab;
          position: relative;
          overflow: hidden;
          border: none;
          transition: 2s;
          transform: perspective(1500px) rotateY(45deg) scale(0.6);
          box-shadow: -30px 0px 30px rgba(255, 255, 255, 0.486);
          .card-img {
            transition: all 2s;
            width: 120%;
            filter: grayscale(0%);
            height: 100%;
          }

          .card-body {
            .card-title {
              font-size: $title-size - 0.5;
              font-family: $title-font;
              color: rgb(255, 255, 255);
              text-shadow: 0 0 1px $blood-color, 0 0 3px $blood-color;
              text-transform: uppercase;
            }
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.438);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            transform: translateY(100%) translateX(100%);
            a {
              font-size: $title-size - 0.5;
              text-decoration: none;
              color: #fff;
              margin: 1em;
              svg {
                transition: 0.5s;
                &:hover {
                  transform: scale(1.3) rotate(360deg);
                  filter: drop-shadow(-3px -3px 2px rgba(255, 0, 0, 0.452));
                }
              }
            }
          }
          &:hover {
            .card-body {
              transform: translateY(0%);
            }
            .card-img {
              filter: grayscale(100%);
            }
          }
        }
      }
    }
  }
  color: #630000;
}
