@import "../../assets/styles/variables.style.scss";

.list-container {
  max-width: 100% !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  transition: 1s;
  .row {
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    label{
      font-family: $name-font;
      margin-top: 1.5em;
      font-size: 0.6em;
      outline: 1px dashed rgb(167, 167, 167);
      outline-offset: 5px;
      border-radius: 2px;
      color: rgb(163, 162, 162);
      overflow: hidden;
      position: relative;
      .line{
        
        position: absolute;
        width: 1px;
        border-right: 5px solid rgba(0, 0, 0, 0.74);
        height: 100%;
        background-color: rgba(197, 194, 194, 0);
        animation: logoText 20s ease-in-out  infinite  ;
      }
    }
    .nav-list {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin: 4em 0;
          transition: 0.5s;
          .active {
            color: #fff;
            text-shadow: 0 0 5px #fff;
          }
          a {
            font-size: 0.75em;
            text-decoration: none;
            font-weight: 900;
            color: rgba(255, 255, 255, 0.226);
            transition: 0.5s;
          }
          &:hover {
            transform: scale(1.1);
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@keyframes logoText {
  0%,100%{
    transform:translateX(0px)  skew(30deg, 20deg);
  }
  50%{
    transform:translateX(50px) scale(1.5) skew(30deg, 20deg);
    
  }
}