@import "./variables.style.scss";
html,
body,
section {
  scroll-behavior: smooth;
  background-color: black;
  color: #fff;
  overflow-x: hidden;
}
body {
  font-family: $main-font;
  ::-moz-selection {
    color: #fff;
    background: $blood-color;
    text-shadow: 0 0 5px yellow;
  }

  ::selection {
    color: #fff;
    background: $blood-color;
    text-shadow: 0 0 5px yellow;
  }

}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  .section-title {
    text-align: center;
    h2 {
      font-family: $title-font;
      font-size: $title-size;
      span {
        color: $blood-color;
      }
    }
  }
}

.app-container {
  max-width: 100%;
  .row {
    .col-xl-1,.col-xl-11{
      padding: 0;
      margin: 0;
    }
    .col-xl-1 {
      border-right: 2px solid rgba(43, 43, 43, 0.473);
    }
  }
}

